<li class="nav-item">
  <%=
    link_to(
      Dradis::Plugins::HtmlExport::Engine.plugin_description,
      { path: nil, anchor: Dradis::Plugins::HtmlExport::Engine.plugin_name },
      data: { toggle: 'tab', target: "#plugin-#{Dradis::Plugins::HtmlExport::Engine.plugin_name}" },
      class: 'nav-link'
    )
  %>
</li>
